# Refinitiv Data Platform Library for Python
## Function - IPA - Term Deposits

This notebook demonstrates how to price Term Deposits using the Instrument Pricing Analytics (IPA) and the Refinitiv Data Libraries.

##### Learn more

To learn more about the Refinitiv Data Library for Python please join the Refinitiv Developer Community. By [registering](https://developers.refinitiv.com/iam/register) and [logging](https://developers.refinitiv.com/content/devportal/en_us/initCookie.html) into the Refinitiv Developer Community portal you will have free access to a number of learning materials like 
 [Quick Start guides](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/quick-start), 
 [Tutorials](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/tutorials), 
 [Documentation](https://developers.refinitiv.com/en/api-catalog/refinitiv-data-platform/refinitiv-data-library-for-python/documentation)
 and much more.

You may also visit the [API Playground](https://apidocs.refinitiv.com/Apps/ApiDocs) to get more examples, find  end points and download Swagger files

##### Getting Help and Support

If you have any questions regarding using the API, please post them on 
the [Refinitiv Data Q&A Forum](https://community.developers.refinitiv.com/spaces/321/index.html). 
The Refinitiv Developer Community will be happy to help.

## Import the library and connect to Refinitiv Data Libraries

In [1]:
import refinitiv.data as rd
import refinitiv.data.content.ipa.financial_contracts as rdf
from refinitiv.data.content.ipa.financial_contracts import term_deposit

## Open the data session

The open_session() function creates and open sessions based on the information contained in the refinitiv-data.config.json configuration file. Please edit this file to set the session type and other parameters required for the session you want to open.

In [2]:
rd.open_session()

## Term Deposits

### Single

In [3]:
response = term_deposit.Definition(

    instrument_tag="AED_AM1A",
    tenor="5Y",
    notional_ccy="GBP",
    fixed_rate_percent=10

).get_data()

response.data.df

,StartDate,EndDate,MarketDataDate,ValuationDate,Tenor,FixedRatePercent,InterestAmountInDealCcy,RepaymentAmountInDealCcy,AccruedAmountInDealCcy,ErrorCode,ErrorMessage,ProcessingInformation
0,2023-03-09,2028-03-09,2023-03-07,2023-03-07,5Y,10,500547.945205,1500547.945205,0,,,

### Multiple

In [4]:
response = rdf.Definitions(
    universe=[
        term_deposit.Definition(
            instrument_tag="AED_AM1A",
            tenor="5Y",
            notional_ccy="GBP",
            fixed_rate_percent=10
        ),
        term_deposit.Definition(
            instrument_tag="AED_AM1A",
            tenor="5Y",
            notional_ccy="GBP",
            fixed_rate_percent=10
        )
    ]
).get_data()

response.data.df

,StartDate,EndDate,MarketDataDate,ValuationDate,Tenor,FixedRatePercent,InterestAmountInDealCcy,RepaymentAmountInDealCcy,AccruedAmountInDealCcy,ErrorCode,ErrorMessage,ProcessingInformation
0,2023-03-09,2028-03-09,2023-03-07,2023-03-07,5Y,10,500547.945205,1500547.945205,0,,,
1,2023-03-09,2028-03-09,2023-03-07,2023-03-07,5Y,10,500547.945205,1500547.945205,0,,,

### Fields selection

In [5]:
response = term_deposit.Definition(

    instrument_tag="AED_AM1A",
    tenor="5Y",
    notional_ccy="GBP",
    fixed_rate_percent=10,

    fields=[
        "InstrumentTag",
        "InstrumentDescription",
        "FixedRate",
        "MarketValueInDealCcy",
        "MarketValueInReportCcy",
        "ErrorMessage"
    ],

).get_data()

response.data.df

,InstrumentTag,InstrumentDescription,FixedRate,MarketValueInDealCcy,MarketValueInReportCcy,ErrorMessage
0,AED_AM1A,Deposit 1000000 'GBP' 10% '2028-03-09',<NA>,222275.46153,<NA>,

### Global calculation parameters

In [6]:
response = term_deposit.Definition(

    instrument_tag="AED_AM1A",
    tenor="5Y",
    notional_ccy="GBP",
    fixed_rate_percent=10,
    pricing_parameters=term_deposit.PricingParameters(
        valuation_date="2018-01-10T00:00:00Z")

).get_data()

response.data.df

,StartDate,EndDate,MarketDataDate,ValuationDate,Tenor,FixedRatePercent,InterestAmountInDealCcy,RepaymentAmountInDealCcy,AccruedAmountInDealCcy,ErrorCode,ErrorMessage,ProcessingInformation
0,2018-01-12,2023-01-12,2018-01-10,2018-01-10,5Y,10,500273.972603,1500273.972603,0,,,

### Global & individual calculation parameters

In [7]:
response = rdf.Definitions(
    universe=[
        term_deposit.Definition(
            instrument_tag="AED_AM1A",
            tenor="5Y",
            notional_ccy="GBP",
            fixed_rate_percent=10,
            pricing_parameters=term_deposit.PricingParameters(
                valuation_date="2018-01-10T00:00:00Z"),
        ),
    ],
    pricing_parameters=term_deposit.PricingParameters(
        valuation_date="2018-01-10T00:00:00Z")

).get_data()

response.data.df

,StartDate,EndDate,MarketDataDate,ValuationDate,Tenor,FixedRatePercent,InterestAmountInDealCcy,RepaymentAmountInDealCcy,AccruedAmountInDealCcy,ErrorCode,ErrorMessage,ProcessingInformation
0,2018-01-12,2023-01-12,2018-01-10,2018-01-10,5Y,10,500273.972603,1500273.972603,0,,,

## Close the default session

In [8]:
rd.close_session()